{{! Seek Bar Component Template }}
<div class="control-group seek-group">
  <div class="control-group-header">
    <span class="control-label">Seek Position</span>
  </div>
  <div class="seek-controls">
    <span class="time-display current-time">{{currentTimeFormatted}}</span>
    <div class="seek-slider-container">
      <input 
        type="range" 
        class="seek-bar" 
        min="0" 
        max="{{duration}}" 
        value="{{currentTime}}"
        step="0.1"
        {{#unless canSeek}}disabled{{/unless}}
      >
    </div>
    <span class="time-display total-time">{{totalTime}}</span>
  </div>
</div>